<div style="padding: 20px; font-family: Arial, sans-serif; max-width: 600px;">
  
  <h2>Create a New Session</h2>

  <div *ngIf="sessionState() === 'idle'">
    📝 Please fill out the form below to create a new session.
  </div>
  <div *ngIf="sessionState() === 'submitting'">
    ⏳ Saving session... Please wait.
  </div>
  <div *ngIf="sessionState() === 'success'">
    ✅ Session successfully created!
  </div>

  <app-session-form (sessionCreated)="onSessionCreate($event)" style="margin: 50px;"></app-session-form>

  <h2>Existing Sessions</h2>
  <app-sessions-view [sessions]="sessions()"></app-sessions-view>


  <h2 style="margin-top: 50px;">Register a New Attendee</h2>

  <div *ngIf="attendeeState() === 'idle'">
    📝 Please fill out the form below to register a new attendee.

  </div>
  <div *ngIf="attendeeState() === 'submitting'">
    ⏳ Saving attendee... Please wait.
  </div>
  <div *ngIf="attendeeState() === 'success'">
    ✅ Attendee successfully registered!
  </div>
  
  <app-attendee-form (attendeeRegistered)="onAttendeeRegister($event)" style="margin: 50px;"></app-attendee-form>
  <app-attendees-view [attendees]="attendees()"></app-attendees-view>


</div>